body{
    background: rgb(128,78,86);
    background: linear-gradient(90deg, rgba(128,78,86,1) 0%, rgba(156,108,36,1) 59%, rgba(57,54,50,1) 100%);
}

h1{
    background: rgb(2,0,36);
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(53,195,12,1) 0%, rgba(0,212,255,1) 100%);
    text-align: center;
    font-size: 100px;
    color: black;
}

.heading{
    text-align: center;
    font-size: 60px;
    background-color: rgba(53,195,12,1);
}



.choice{
color: rgba(1,255,0,1) ;
font-size: 40px;
margin-bottom: 50px;
margin-left: 45%;
margin-right: 45%;
background-color: black;
border-radius: 45%;
}

#ch3{
    font-size: 30px;
}
#imgg{
    text-align: center;
    display: contents;
justify-content: center; 
align-items: flex-start;
}

#img1{
    
    margin-top: 90px;
}
#img2{
    margin-top: 90px;
}

#img3{
    margin-top: 90px;
}

#img4{
    margin-top: 90px;
}





